on: [push, pull_request]

jobs:
  libcubescript:
    name: Execute tests
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with: 
          python-version: "3.8"
      - name: Install dependencies
        run: |
          pip install meson ninja conan
          conan user
      - name: Build 
        run: |
          mkdir build 
          cd build 
          meson ..
          meson compile 
      - name: Run executable 
        run: |
          cd build/tools 
          chmod +x ./cubescript 
          ./cubescript -e "+ 40 2"
      - name: Run tests
        run: |
          cd tests
          mkdir build
          cd build
          cmake .. 
          cmake --build . 
          chmod +x ./bin/tests 
          ./bin/tests
